header{
    background-color: rgb(165, 165, 165);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 15px;
}

header:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(177, 176, 179);
}

header:active{
    color: black;
}
div{
    text-align: center;
}